@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="game-container">

	<div style="grey"></div>
	<!-- How many sips in the Pot -->
	<div class="pot-counter">
		ANTAL KLUNKAR I POTTEN:
	</div>

	<!-- Left side list -->
	<div class="lag-lista">
		LAG:
	</div>

	<!-- Right side movement cards -->
	<div class="movement-cards">
		<div class="card-slot"></div> <!--Cards that decide which horse to move forward or backwards-->
		<div class="card-slot"></div>
		<div class="card-slot"></div>
		<div class="card-slot"></div>
		<div class="card-slot"></div>
	</div>

	<!-- Bottom Horses -->
	<div class="player-horses">
		<div class="card-slot">Spade</div> <!--Players "horse"-->
		<div class="card-slot">Hearts</div>
		<div class="card-slot">Diamonds</div>
		<div class="card-slot">Club</div>
	</div>
	
	<!--Start button-->
	<div>
		<button class="start-button">START RACE</button>
	
    </div>

</div>